version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - '27017:27017'

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - PORT=5000
    ports:
      - '5000:5000'
    depends_on:
      - mongo

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - NEXT_PUBLIC_AGORA_TOKEN_ENDPOINT=http://server:5000
    ports:
      - '3000:3000'
    depends_on:
      - server

volumes:
  mongo-data:
